
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  background-color: #fff;  
  overflow-x: hidden;
}

a {
  color: #3167eb;
  text-decoration: none;
  background-color: transparent;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}